{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} - Login{% endblock %}

{% block content %}
<h1>Login</h1>
{% if user.is_authenticated %}
    Hi {{user.get_profile.primary_adult.first_name}}.  You are already logged in as {{user.email}}.  <br /><br />You can <a href="{% url auth_logout %}">logout here</a>
{% else %}
<form method="post" action=".">{% csrf_token %}
 <p><label for="id_username">Login Email:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
 <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>
 {% if next %}
  <input type="hidden" name="next" value="{{next}}">
 {% else %}
  <input type="hidden" name="next" value="{% url my_account %}">            
 {% endif %}
  <input type="submit" value="{% trans 'Log in' %}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>

{% endif %}



{% endblock %}
